Repository DataDog/datadog-api-client-java, pull requests merged in 2020-07, with the labels that each got.

#365 Update changelog for beta 7
  CHANGELOG.md
Labels: changelog/no-changelog, documentation

#372 Use atomic reference for response in logsListGetTest
  src/test/java/com/datadog/api/v2/client/api/LogsApiTest.java
  src/test/resources/cassettes/v2/LogsApiTest.listLogsGetTest.freeze
  src/test/resources/cassettes/v2/LogsApiTest.listLogsGetTest.json
Labels: changelog/no-changelog, dev/testing

#380 Temporarily fix CI Oracle Java install by providing full URL
  .github/workflows/test.yml
Labels: changelog/no-changelog
