Repository DataDog/datadog-api-client-java, pull requests merged in 2020-05, with the labels that each got.

#277 Run integration tests every 3 hours
  .azure-pipelines/all.yml
Labels: dev/testing

#282 Release datadog-api-client-1.0.0-beta.2
  CHANGELOG.md
  RELEASING.md
Labels: changelog/no-changelog, documentation

#310 Allow running tests against API without cassette recording
  .azure-pipelines/all.yml
  DEVELOPMENT.md
  src/test/java/com/datadog/api/RecordingMode.java
  src/test/java/com/datadog/api/TestUtils.java
  src/test/java/com/datadog/api/v1/client/api/KeyManagementApiTest.java
  src/test/java/com/datadog/api/v1/client/api/LogsApiTest.java
  src/test/java/com/datadog/api/v1/client/api/OrganizationsApiTest.java
  src/test/java/com/datadog/api/v1/client/api/UsersApiTest.java
  src/test/java/com/datadog/api/v1/client/api/V1ApiTest.java
  src/test/java/com/datadog/api/v2/client/api/DashboardListsApiTest.java
  src/test/java/com/datadog/api/v2/client/api/V2APITest.java
Labels: documentation

#311 ci: check that PR has changelog label
  .github/workflows/changelog.yaml
Labels: changelog/no-changelog, dev/tooling

#308 Prep changelog for 1.0.0-beta.3 release
  CHANGELOG.md
  RELEASING.md
Labels: changelog/no-changelog, documentation

#239 Add missing usage tests and asserts
  src/test/java/com/datadog/api/v1/client/api/UsageMeteringApiTest.java
  src/test/resources/cassettes/v1/getUsageLambdaTest.freeze
  src/test/resources/cassettes/v1/getUsageLambdaTest.json
  src/test/resources/cassettes/v1/getUsageSummaryTest.freeze
  src/test/resources/com/datadog/api/v1/client/api/usage_fixtures/usage_summary.json
Labels: changelog/no-changelog, dev/testing

#321 APM friendly tests
  src/test/java/com/datadog/api/v1/client/api/AwsIntegrationApiTest.java
Labels: changelog/no-changelog, dev/testing

#304 ci: update DD agent
  pom.xml
Labels: changelog/no-changelog, dependencies, dev/tooling

#317 Run tests in random order
  pom.xml
Labels: changelog/no-changelog
