Repository DataDog/datadog-api-client-java, pull requests merged in 2020-04, with the labels that each got.

#249 Don't generate test jar
  pom.xml
Labels: changelog/no-changelog, dev/tooling

#248 Update release instructions
  .github/PULL_REQUEST_TEMPLATE.md
  RELEASING.md
Labels: documentation

#256 Improve APM for integration tests
  .azure-pipelines/all.yml
  docker-compose.yml
  example/src/test/java/com/test/AppTest.java
  src/test/java/com/datadog/api/v1/client/api/AwsIntegrationApiTest.java
  src/test/java/com/datadog/api/v1/client/api/AwsLogsIntegrationApiTest.java
  src/test/java/com/datadog/api/v1/client/api/AzureIntegrationApiTest.java
  src/test/java/com/datadog/api/v1/client/api/DashboardListsApiTest.java
  src/test/java/com/datadog/api/v1/client/api/DashboardsApiTest.java
  src/test/java/com/datadog/api/v1/client/api/DowntimesApiTest.java
  src/test/java/com/datadog/api/v1/client/api/EventsApiTest.java
  src/test/java/com/datadog/api/v1/client/api/GcpIntegrationApiTest.java
  src/test/java/com/datadog/api/v1/client/api/HostsApiTest.java
  src/test/java/com/datadog/api/v1/client/api/IpRangesApiTest.java
  src/test/java/com/datadog/api/v1/client/api/KeyManagementApiTest.java
  src/test/java/com/datadog/api/v1/client/api/LogsApiTest.java
  src/test/java/com/datadog/api/v1/client/api/LogsIndexesApiTest.java
  src/test/java/com/datadog/api/v1/client/api/LogsPipelinesApiTest.java
  src/test/java/com/datadog/api/v1/client/api/LogsPipelinesLifecycleTest.java
  src/test/java/com/datadog/api/v1/client/api/LogsPipelinesOrderTest.java
  src/test/java/com/datadog/api/v1/client/api/MetricsApiTest.java
  src/test/java/com/datadog/api/v1/client/api/MonitorsApiTest.java
  src/test/java/com/datadog/api/v1/client/api/OrganizationsApiTest.java
  src/test/java/com/datadog/api/v1/client/api/PagerDutyIntegrationApiTest.java
  src/test/java/com/datadog/api/v1/client/api/ServiceLevelObjectivesApiTest.java
  src/test/java/com/datadog/api/v1/client/api/SnapshotsApiTest.java
  src/test/java/com/datadog/api/v1/client/api/SyntheticsApiTest.java
  src/test/java/com/datadog/api/v1/client/api/TagsApiTest.java
  src/test/java/com/datadog/api/v1/client/api/TelemetryTest.java
  src/test/java/com/datadog/api/v1/client/api/UsageMeteringApiTest.java
  src/test/java/com/datadog/api/v1/client/api/UsersApiTest.java
  src/test/java/com/datadog/api/v1/client/api/V1ApiTest.java
  src/test/java/com/datadog/api/v2/client/api/DashboardListsApiTest.java
  src/test/java/com/datadog/api/v2/client/api/RolesApiTest.java
  src/test/java/com/datadog/api/v2/client/api/TelemetryTest.java
  src/test/java/com/datadog/api/v2/client/api/UsersApiTest.java
  src/test/java/com/datadog/api/v2/client/api/V2APITest.java
Labels: changelog/no-changelog, dev/testing
