Repository DataDog/datadog-api-client-java, pull requests merged in 2020-06, with the labels that each got.

#324 Parallelize tests
  pom.xml
  src/test/java/com/datadog/api/TestUtils.java
  src/test/java/com/datadog/api/v1/client/api/AwsIntegrationApiTest.java
  src/test/java/com/datadog/api/v1/client/api/AwsLogsIntegrationApiTest.java
  src/test/java/com/datadog/api/v1/client/api/V1ApiTest.java
  src/test/java/com/datadog/api/v2/client/api/V2APITest.java
  src/test/resources/cassettes/v1/aWSLogsAddListEnableAndDeleteTest.freeze
  src/test/resources/cassettes/v1/aWSLogsAddListEnableAndDeleteTest.json
  src/test/resources/cassettes/v1/aWSLogsCheckLambdaAsyncTest.freeze
  src/test/resources/cassettes/v1/aWSLogsCheckLambdaAsyncTest.json
  src/test/resources/cassettes/v1/aWSLogsCheckServicesAsyncTest.freeze
  src/test/resources/cassettes/v1/aWSLogsCheckServicesAsyncTest.json
  src/test/resources/cassettes/v1/aWSLogsServicesListTest.freeze
  src/test/resources/cassettes/v1/aWSLogsServicesListTest.json
  src/test/resources/cassettes/v1/createAWSAccountMissingIDTest.freeze
  src/test/resources/cassettes/v1/createAWSAccountMissingIDTest.json
  src/test/resources/cassettes/v1/createAWSAccountMissingRoleNameTest.freeze
  src/test/resources/cassettes/v1/createAWSAccountMissingRoleNameTest.json
  src/test/resources/cassettes/v1/createAWSAccountTest.freeze
  src/test/resources/cassettes/v1/createAWSAccountTest.json
  src/test/resources/cassettes/v1/createErrorsAWSTest.freeze
  src/test/resources/cassettes/v1/createErrorsAWSTest.json
  src/test/resources/cassettes/v1/deleteErrorsAWSTest.freeze
  src/test/resources/cassettes/v1/deleteErrorsAWSTest.json
  src/test/resources/cassettes/v1/generateExternalIDAWSErrorsTest.freeze
  src/test/resources/cassettes/v1/generateExternalIDAWSErrorsTest.json
  src/test/resources/cassettes/v1/generateNewExternalIdTest.freeze
  src/test/resources/cassettes/v1/generateNewExternalIdTest.json
  src/test/resources/cassettes/v1/getAll400ErrorAWSTest.freeze
  src/test/resources/cassettes/v1/getAll403ErrorAWSTest.freeze
  src/test/resources/cassettes/v1/getAll403ErrorAWSTest.json
  src/test/resources/cassettes/v1/listAWSAccountsTest.freeze
  src/test/resources/cassettes/v1/listAWSAccountsTest.json
  src/test/resources/cassettes/v1/listNamespacesAWSErrorsTest.freeze
  src/test/resources/cassettes/v1/listNamespacesAWSErrorsTest.json
  src/test/resources/cassettes/v1/listNamespacesTest.freeze
  src/test/resources/cassettes/v1/listNamespacesTest.json
  src/test/resources/cassettes/v1/logsAdd400ErrorTest.freeze
  src/test/resources/cassettes/v1/logsAdd400ErrorTest.json
  src/test/resources/cassettes/v1/logsAdd403ErrorTest.freeze
  src/test/resources/cassettes/v1/logsAdd403ErrorTest.json
  src/test/resources/cassettes/v1/logsDelete400ErrorTest.freeze
  src/test/resources/cassettes/v1/logsDelete400ErrorTest.json
  src/test/resources/cassettes/v1/logsDelete403ErrorTest.freeze
  src/test/resources/cassettes/v1/logsDelete403ErrorTest.json
  src/test/resources/cassettes/v1/logsList400ErrorTest.freeze
  src/test/resources/cassettes/v1/logsList400ErrorTest.json
  src/test/resources/cassettes/v1/logsList403ErrorTest.freeze
  src/test/resources/cassettes/v1/logsList403ErrorTest.json
  src/test/resources/cassettes/v1/logsServicesEnableErrorsTest.freeze
  src/test/resources/cassettes/v1/logsServicesEnableErrorsTest.json
  src/test/resources/cassettes/v1/logsServicesListErrorsTest.freeze
  src/test/resources/cassettes/v1/logsServicesListErrorsTest.json
  src/test/resources/cassettes/v1/updateAWSAccountTest.freeze
  src/test/resources/cassettes/v1/updateAWSAccountTest.json
  src/test/resources/cassettes/v1/updateAWSErrorsTest.freeze
  src/test/resources/cassettes/v1/updateAWSErrorsTest.json
Labels: changelog/no-changelog

#328 Don't test on corretto JDK
  .github/workflows/test.yml
Labels: changelog/no-changelog

#331 Fix Azure integration test flake
  src/test/java/com/datadog/api/v1/client/api/AzureIntegrationApiTest.java
Labels: changelog/no-changelog

#332 Add a note about usage of 'getUniqueEntityName' throughout tests
  DEVELOPMENT.md
Labels: changelog/no-changelog, documentation

#335 Rerun failed tests in CI to better identify flakes
  run-tests.sh
Labels: changelog/no-changelog

#336 Update Changelog
  CHANGELOG.md
Labels: changelog/no-changelog, documentation

#339 Disable parallel test execution
  pom.xml
Labels: changelog/no-changelog, dev/tooling

#348 Add endpoint-dependent tags to top-level spans when testing
  .azure-pipelines/all.yml
  LICENSE-3rdparty.csv
  docker-compose.yml
  pom.xml
  run-tests.sh
  src/test/java/com/datadog/api/TestUtils.java
  src/test/java/com/datadog/api/v1/client/api/AuthenticationApiTest.java
  src/test/java/com/datadog/api/v1/client/api/AwsIntegrationApiTest.java
  src/test/java/com/datadog/api/v1/client/api/AzureIntegrationApiTest.java
  src/test/java/com/datadog/api/v1/client/api/DashboardListsApiTest.java
  src/test/java/com/datadog/api/v1/client/api/DashboardsApiTest.java
  src/test/java/com/datadog/api/v1/client/api/DowntimesApiTest.java
  src/test/java/com/datadog/api/v1/client/api/EventsApiTest.java
  src/test/java/com/datadog/api/v1/client/api/GcpIntegrationApiTest.java
  src/test/java/com/datadog/api/v1/client/api/HostsApiTest.java
  src/test/java/com/datadog/api/v1/client/api/IpRangesApiTest.java
  src/test/java/com/datadog/api/v1/client/api/KeyManagementApiTest.java
  src/test/java/com/datadog/api/v1/client/api/LogsApiTest.java
  src/test/java/com/datadog/api/v1/client/api/LogsIndexesApiTest.java
  src/test/java/com/datadog/api/v1/client/api/LogsPipelinesApiTest.java
  src/test/java/com/datadog/api/v1/client/api/LogsPipelinesLifecycleTest.java
  src/test/java/com/datadog/api/v1/client/api/LogsPipelinesOrderTest.java
  src/test/java/com/datadog/api/v1/client/api/MetricsApiTest.java
  src/test/java/com/datadog/api/v1/client/api/MonitorsApiTest.java
  src/test/java/com/datadog/api/v1/client/api/OrganizationsApiTest.java
  src/test/java/com/datadog/api/v1/client/api/PagerDutyIntegrationApiTest.java
  src/test/java/com/datadog/api/v1/client/api/ServiceLevelObjectivesApiTest.java
  src/test/java/com/datadog/api/v1/client/api/SnapshotsApiTest.java
  src/test/java/com/datadog/api/v1/client/api/SyntheticsApiTest.java
  src/test/java/com/datadog/api/v1/client/api/TagsApiTest.java
  src/test/java/com/datadog/api/v1/client/api/TelemetryTest.java
  src/test/java/com/datadog/api/v1/client/api/UsageMeteringApiTest.java
  src/test/java/com/datadog/api/v1/client/api/UsersApiTest.java
  src/test/java/com/datadog/api/v2/client/api/DashboardListsApiTest.java
  src/test/java/com/datadog/api/v2/client/api/LogsArchivesApiTest.java
  src/test/java/com/datadog/api/v2/client/api/RolesApiTest.java
  src/test/java/com/datadog/api/v2/client/api/SecurityMonitoringApiTest.java
  src/test/java/com/datadog/api/v2/client/api/TelemetryTest.java
  src/test/java/com/datadog/api/v2/client/api/UsersApiTest.java
Labels: changelog/no-changelog

#352 Changelog for beta 5 release
  CHANGELOG.md
Labels: changelog/no-changelog, documentation

#354 Release beta 6
  CHANGELOG.md
Labels: changelog/no-changelog, documentation

#356 Properly cleanup test dashboards
  src/test/java/com/datadog/api/v1/client/api/DashboardsApiTest.java
Labels: changelog/no-changelog

#357 Fix cleanup after more testcases
  src/test/java/com/datadog/api/v2/client/api/SecurityMonitoringApiTest.java
  src/test/java/com/datadog/api/v2/client/api/UsersApiTest.java
  src/test/resources/cassettes/v2/SecurityMonitoringApiTest.rulesCrudTest.freeze
  src/test/resources/cassettes/v2/SecurityMonitoringApiTest.rulesCrudTest.json
  src/test/resources/cassettes/v2/UsersApiTest.userInvitationTest.freeze
  src/test/resources/cassettes/v2/UsersApiTest.userInvitationTest.json
Labels: changelog/no-changelog
