Repository DataDog/datadog-api-client-java, pull requests merged in 2021-03, with the labels that each got.

#690 ci: fix reporting
  pom.xml
  src/test/java/com/datadog/api/TestUtils.java
  src/test/java/com/datadog/api/TracePlugin.java
Labels: changelog/no-changelog, dev/testing

#687 Succeed if PR is draft
  .github/workflows/changelog.yaml
Labels: changelog/no-changelog

#692 Make some README tweaks
  README.md
Labels: changelog/no-changelog, documentation

#682 tests: use DD_INSIDE_CI
  .azure-pipelines/all.yml
Labels: changelog/no-changelog, dev/testing

#706 tests: remove hardcoded dd.service property
  pom.xml
Labels: changelog/no-changelog

#708 Set dd.prioritization.type=ENSURE_TRACE
  pom.xml
Labels: changelog/no-changelog

#710 Add notice for templates
  NOTICE
Labels: changelog/no-changelog
