Repository DataDog/datadog-api-client-java, pull requests merged in 2021-02, with the labels that each got.

#638 Release beta 9
  CHANGELOG.md
Labels: changelog/no-changelog, documentation

#655 Remove slow app keys tests
  src/test/java/com/datadog/api/v1/client/api/KeyManagementApiTest.java
Labels: changelog/no-changelog

#659 Skip a few slow tests in ignore mode
  src/test/java/com/datadog/api/v1/client/api/LogsApiTest.java
  src/test/java/com/datadog/api/v1/client/api/TagsApiTest.java
  src/test/java/com/datadog/api/v2/client/api/LogsApiTest.java
Labels: changelog/no-changelog

#668 Update pom to use proper versioning and remove prefix from SCM tag
  pom.xml
Labels: changelog/Fixed
