Repository DataDog/datadog-api-client-java, pull requests merged in 2021-04, with the labels that each got.

#691 Create job to create GPG key
  .gitlab-ci.yml
Labels: changelog/no-changelog, stale

#676 Start adding a CI process for releases and switch to Sonatype from Bintray
  .github/workflows/prepare-release.yml
  .gitlab-ci.yml
  pom.xml
  settings.xml
Labels: changelog/Fixed

#755 Ensure we're not using proxy mode when replaying with v1 client in v2…
  src/test/java/com/datadog/api/v2/client/api/DashboardListsApiTest.java
Labels: changelog/no-changelog, dev/testing

#746 Pin version of the deploy plugin we want to explicitly skip and add specific releasePerform profile
  .gitlab-ci.yml
  pom.xml
Labels: changelog/no-changelog

#758 Clean up
  .azure-pipelines/all.yml
Labels: changelog/no-changelog

#759 Remove codecov config
  codecov.yml
Labels: changelog/no-changelog

#760 Changelog for Beta 10
  CHANGELOG.md
Labels: changelog/no-changelog, documentation

#761 Fix syntax for prepare-workflow yml
  .github/workflows/prepare-release.yml
Labels: changelog/no-changelog

#762 Finalize and fix syntax of prepare-workflow run
  .github/workflows/prepare-release.yml
Labels: changelog/no-changelog

#763 Use https for the developerConnection over ssh
  pom.xml
Labels: changelog/Fixed

#766 Prep beta10 release
  .github/workflows/prepare-release.yml
  .gitlab-ci.yml
  pom.xml
Labels: changelog/no-changelog

#767 Update pom.xml
  pom.xml
Labels: changelog/no-changelog

#769 Update release instructions and version in README
  README.md
  RELEASING.md
Labels: changelog/no-changelog, documentation

#777 Re-enable java 16
  .github/workflows/test.yml
  pom.xml
Labels: changelog/no-changelog

#801 Speed up check examples
  check-examples.sh
Labels: changelog/no-changelog
