Repository DataDog/datadog-api-client-java, pull requests merged in 2021-12, with the labels that each got.

#1084 Revert "Removes `access_role` property from user v1"
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  api_docs/v1/User.md
  src/main/java/com/datadog/api/v1/client/model/User.java
  src/test/java/com/datadog/api/v1/client/api/UsersApiTest.java
  src/test/resources/cassettes/v1/UsersApiTest.listUsersTest.freeze
  src/test/resources/cassettes/v1/UsersApiTest.listUsersTest.json
  src/test/resources/cassettes/v1/UsersApiTest.testUserListErrorsTest.freeze
  src/test/resources/cassettes/v1/UsersApiTest.testUserListErrorsTest.json
  src/test/resources/cassettes/v1/UsersApiTest.userCreate409ErrorsTest.freeze
  src/test/resources/cassettes/v1/UsersApiTest.userCreateErrorsTest.freeze
  src/test/resources/cassettes/v1/UsersApiTest.userCreateErrorsTest.json
  src/test/resources/cassettes/v1/UsersApiTest.userCreateModifyDisableTest.freeze
  src/test/resources/cassettes/v1/UsersApiTest.userCreateModifyDisableTest.json
  src/test/resources/cassettes/v1/UsersApiTest.userDisableErrorsTest.freeze
  src/test/resources/cassettes/v1/UsersApiTest.userDisableErrorsTest.json
  src/test/resources/cassettes/v1/UsersApiTest.userGetErrorsTest.freeze
  src/test/resources/cassettes/v1/UsersApiTest.userGetErrorsTest.json
  src/test/resources/cassettes/v1/UsersApiTest.userUpdateErrorsTest.freeze
  src/test/resources/cassettes/v1/UsersApiTest.userUpdateErrorsTest.json
  src/test/resources/cassettes/v2/UsersApiTest.userInvitationTest.freeze
  src/test/resources/cassettes/v2/UsersApiTest.userInvitationTest.json
  src/test/resources/cassettes/v2/UsersApiTest.userLifecycleTest.freeze
  src/test/resources/cassettes/v2/UsersApiTest.userLifecycleTest.json
  src/test/resources/com/datadog/api/v1/client/api/users.feature
Labels: documentation, changelog/no-changelog, ci/integrations

#1088 Provide a all-in-one jar
  pom.xml
Labels: changelog/Added, ci/integrations

#1093 Remove log4j options
  .generator/templates/libraries/jersey2/pom.mustache
  .generator/templates/pom.mustache
  pom.xml
Labels: changelog/no-changelog, ci/integrations

#1095 Use nop logger in tests
  pom.xml
Labels: changelog/no-changelog, ci/integrations

#1105 Sleep after request if needed
  .github/workflows/test_integration.yml
  src/test/java/com/datadog/api/World.java
Labels: changelog/no-changelog, ci/integrations

#1112 Prepare 1.3.0 release
  CHANGELOG.md
  pom.xml
Labels: documentation, changelog/no-changelog, ci/integrations

#1114 Fix debug wording
  README.md
Labels: documentation, changelog/no-changelog

#1113 Start dev cycle
  pom.xml
Labels: changelog/no-changelog
