Repository DataDog/datadog-api-client-java, pull requests merged in 2022-07, with the labels that each got.

#1408 Fix java 16 tests
  src/test/java/com/datadog/api/World.java
Labels: changelog/no-changelog, ci/integrations

#1349 Validate if unstable operations are enabled
  .generator/src/generator/templates/Api.j2
  src/main/java/com/datadog/api/v1/client/api/ServiceLevelObjectivesApi.java
  src/main/java/com/datadog/api/v1/client/api/UsageMeteringApi.java
  src/main/java/com/datadog/api/v2/client/api/IncidentServicesApi.java
  src/main/java/com/datadog/api/v2/client/api/IncidentTeamsApi.java
  src/main/java/com/datadog/api/v2/client/api/IncidentsApi.java
Labels: changelog/Added, stale

#1421 Setup Code Scanning on datadog-api-client-java
  .github/workflows/codeql-analysis.yml
Labels: changelog/no-changelog
