Repository DataDog/datadog-api-client-java, pull requests merged in 2022-08, with the labels that each got.

#1439 Remove `zstd` compression support
  .generator/src/generator/templates/ZstdEncoder.j2
  src/main/java/com/datadog/api/client/ZstdEncoder.java
Labels: changelog/Fixed

#1436 Generate pagination examples
  .generator/conftest.py
  .generator/src/generator/cli.py
  .generator/src/generator/openapi.py
  .generator/src/generator/templates/Api.j2
  .generator/src/generator/templates/example.j2
  examples/v2/audit/ListAuditLogs_1275402458.java
  examples/v2/audit/SearchAuditLogs_3215529662.java
  examples/v2/events/ListEvents_1527584014.java
  examples/v2/events/SearchEvents_3856995058.java
  examples/v2/incidents/ListIncidents_2665616954.java
  examples/v2/logs/ListLogsGet_738202670.java
  examples/v2/logs/ListLogs_3138392594.java
  examples/v2/processes/ListProcesses_797840471.java
  examples/v2/rum/ListRUMEvents_2680821282.java
  examples/v2/rum/SearchRUMEvents_574690310.java
  examples/v2/security-monitoring/ListSecurityMonitoringSignals_3960412991.java
  examples/v2/security-monitoring/SearchSecurityMonitoringSignals_1309350146.java
Labels: changelog/no-changelog

#1446 Cleanup exceptions for pagination helper methods
  .generator/src/generator/templates/Api.j2
  .generator/src/generator/templates/example.j2
  examples/v2/audit/ListAuditLogs_1275402458.java
  examples/v2/audit/SearchAuditLogs_3215529662.java
  examples/v2/events/ListEvents_1527584014.java
  examples/v2/events/SearchEvents_3856995058.java
  examples/v2/incidents/ListIncidents_2665616954.java
  examples/v2/logs/ListLogsGet_738202670.java
  examples/v2/logs/ListLogs_3138392594.java
  examples/v2/processes/ListProcesses_797840471.java
  examples/v2/rum/ListRUMEvents_2680821282.java
  examples/v2/rum/SearchRUMEvents_574690310.java
  examples/v2/security-monitoring/ListSecurityMonitoringSignals_3960412991.java
  examples/v2/security-monitoring/SearchSecurityMonitoringSignals_1309350146.java
  src/main/java/com/datadog/api/client/v2/api/AuditApi.java
  src/main/java/com/datadog/api/client/v2/api/EventsApi.java
  src/main/java/com/datadog/api/client/v2/api/IncidentsApi.java
  src/main/java/com/datadog/api/client/v2/api/LogsApi.java
  src/main/java/com/datadog/api/client/v2/api/ProcessesApi.java
  src/main/java/com/datadog/api/client/v2/api/RumApi.java
  src/main/java/com/datadog/api/client/v2/api/SecurityMonitoringApi.java
Labels: changelog/Added

#1453 Add missing dependencies into the shaded jar
  pom.xml
Labels: changelog/Added

#1456 Add missing package relocations in the shaded jar
  pom.xml
Labels: changelog/Fixed

#1472 Ease running local formatting
  Dockerfile.format
  format.sh
Labels: changelog/no-changelog
