Repository DataDog/datadog-api-client-java, pull requests merged in 2022-10, with the labels that each got.

#1517 Fix failing AWS integration tests
  src/test/java/com/datadog/api/TestClient.java
  src/test/java/com/datadog/api/client/v1/api/AwsIntegrationApiTest.java
  src/test/resources/cassettes/v1/AwsIntegrationApiTest.aWSLogsAddListEnableAndDeleteTest.freeze
  src/test/resources/cassettes/v1/AwsIntegrationApiTest.aWSLogsAddListEnableAndDeleteTest.json
  src/test/resources/cassettes/v1/AwsIntegrationApiTest.aWSLogsCheckLambdaAsyncTest.freeze
  src/test/resources/cassettes/v1/AwsIntegrationApiTest.aWSLogsCheckLambdaAsyncTest.json
  src/test/resources/cassettes/v1/AwsIntegrationApiTest.aWSLogsCheckServicesAsyncTest.freeze
  src/test/resources/cassettes/v1/AwsIntegrationApiTest.aWSLogsCheckServicesAsyncTest.json
  src/test/resources/cassettes/v1/AwsIntegrationApiTest.aWSLogsServicesListTest.freeze
  src/test/resources/cassettes/v1/AwsIntegrationApiTest.aWSLogsServicesListTest.json
  src/test/resources/cassettes/v1/AwsIntegrationApiTest.createAWSAccountMissingIDTest.freeze
  src/test/resources/cassettes/v1/AwsIntegrationApiTest.createAWSAccountMissingIDTest.json
  src/test/resources/cassettes/v1/AwsIntegrationApiTest.createAWSAccountMissingRoleNameTest.freeze
  src/test/resources/cassettes/v1/AwsIntegrationApiTest.createAWSAccountMissingRoleNameTest.json
  src/test/resources/cassettes/v1/AwsIntegrationApiTest.createAWSAccountTest.freeze
  src/test/resources/cassettes/v1/AwsIntegrationApiTest.createAWSAccountTest.json
  src/test/resources/cassettes/v1/AwsIntegrationApiTest.createErrorsAWSTest.freeze
  src/test/resources/cassettes/v1/AwsIntegrationApiTest.createErrorsAWSTest.json
  src/test/resources/cassettes/v1/AwsIntegrationApiTest.deleteErrorsAWSTest.freeze
  src/test/resources/cassettes/v1/AwsIntegrationApiTest.deleteErrorsAWSTest.json
  src/test/resources/cassettes/v1/AwsIntegrationApiTest.generateExternalIDAWSErrorsTest.freeze
  src/test/resources/cassettes/v1/AwsIntegrationApiTest.generateExternalIDAWSErrorsTest.json
  src/test/resources/cassettes/v1/AwsIntegrationApiTest.generateNewExternalIdTest.freeze
  src/test/resources/cassettes/v1/AwsIntegrationApiTest.generateNewExternalIdTest.json
  src/test/resources/cassettes/v1/AwsIntegrationApiTest.getAll400ErrorAWSTest.freeze
  src/test/resources/cassettes/v1/AwsIntegrationApiTest.getAll403ErrorAWSTest.freeze
  src/test/resources/cassettes/v1/AwsIntegrationApiTest.getAll403ErrorAWSTest.json
  src/test/resources/cassettes/v1/AwsIntegrationApiTest.listAWSAccountsTest.freeze
  src/test/resources/cassettes/v1/AwsIntegrationApiTest.listAWSAccountsTest.json
  src/test/resources/cassettes/v1/AwsIntegrationApiTest.listNamespacesAWSErrorsTest.freeze
  src/test/resources/cassettes/v1/AwsIntegrationApiTest.listNamespacesAWSErrorsTest.json
  src/test/resources/cassettes/v1/AwsIntegrationApiTest.listNamespacesTest.freeze
  src/test/resources/cassettes/v1/AwsIntegrationApiTest.listNamespacesTest.json
  src/test/resources/cassettes/v1/AwsIntegrationApiTest.logsAdd400ErrorTest.freeze
  src/test/resources/cassettes/v1/AwsIntegrationApiTest.logsAdd403ErrorTest.freeze
  src/test/resources/cassettes/v1/AwsIntegrationApiTest.logsAdd403ErrorTest.json
  src/test/resources/cassettes/v1/AwsIntegrationApiTest.logsDelete400ErrorTest.freeze
  src/test/resources/cassettes/v1/AwsIntegrationApiTest.logsDelete403ErrorTest.freeze
  src/test/resources/cassettes/v1/AwsIntegrationApiTest.logsDelete403ErrorTest.json
  src/test/resources/cassettes/v1/AwsIntegrationApiTest.logsList400ErrorTest.freeze
  src/test/resources/cassettes/v1/AwsIntegrationApiTest.logsList403ErrorTest.freeze
  src/test/resources/cassettes/v1/AwsIntegrationApiTest.logsList403ErrorTest.json
  src/test/resources/cassettes/v1/AwsIntegrationApiTest.logsServicesEnableErrorsTest.freeze
  src/test/resources/cassettes/v1/AwsIntegrationApiTest.logsServicesEnableErrorsTest.json
  src/test/resources/cassettes/v1/AwsIntegrationApiTest.logsServicesListErrorsTest.freeze
  src/test/resources/cassettes/v1/AwsIntegrationApiTest.logsServicesListErrorsTest.json
  src/test/resources/cassettes/v1/AwsIntegrationApiTest.updateAWSAccountTest.freeze
  src/test/resources/cassettes/v1/AwsIntegrationApiTest.updateAWSAccountTest.json
  src/test/resources/cassettes/v1/AwsIntegrationApiTest.updateAWSErrorsTest.freeze
  src/test/resources/cassettes/v1/AwsIntegrationApiTest.updateAWSErrorsTest.json
Labels: changelog/no-changelog, ci/integrations

#1520 Remove debug code from aws test
  src/test/java/com/datadog/api/client/v1/api/AwsIntegrationApiTest.java
Labels: changelog/no-changelog

#1466 Add javadoc deprecation annotation for deprecated fields and methods
  .generator/src/generator/templates/modelSimple.j2
  src/main/java/com/datadog/api/client/v1/model/Dashboard.java
  src/main/java/com/datadog/api/client/v1/model/DashboardTemplateVariable.java
  src/main/java/com/datadog/api/client/v1/model/DashboardTemplateVariablePresetValue.java
  src/main/java/com/datadog/api/client/v1/model/DistributionWidgetDefinition.java
  src/main/java/com/datadog/api/client/v1/model/LogStreamWidgetDefinition.java
  src/main/java/com/datadog/api/client/v1/model/MonitorOptions.java
  src/main/java/com/datadog/api/client/v1/model/MonitorSummaryWidgetDefinition.java
  src/main/java/com/datadog/api/client/v1/model/Organization.java
  src/main/java/com/datadog/api/client/v1/model/OrganizationCreateBody.java
  src/main/java/com/datadog/api/client/v1/model/SLOHistoryMonitor.java
  src/main/java/com/datadog/api/client/v1/model/SLOHistorySLIData.java
  src/main/java/com/datadog/api/client/v1/model/TreeMapWidgetDefinition.java
Labels: documentation, changelog/no-changelog

#1532 Fix dashboard list test
  src/test/java/com/datadog/api/client/v2/api/DashboardListsApiTest.java
  src/test/resources/cassettes/v2/DashboardListsApiTest.dashboardListItemCRUDTest.freeze
  src/test/resources/cassettes/v2/DashboardListsApiTest.dashboardListItemCRUDTest.json
Labels: changelog/no-changelog

#1533 Bump jackson databind
  pom.xml
Labels: changelog/Fixed

#1543 Add ci test for java18+19
  .github/workflows/test.yml
  pom.xml
Labels: changelog/no-changelog
