Repository DataDog/datadog-api-client-java, pull requests merged in 2022-01, with the labels that each got.

#1153 Enable code generation in repo
  .github/workflows/test.yml
  .pre-commit-config.yaml
Labels: changelog/no-changelog, dev/tooling

#1158 Update actions
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/approved_status.yml
  .github/workflows/labeler.yml
  .github/workflows/stale.yml
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Labels: changelog/no-changelog

#1164 Release 1.4
  CHANGELOG.md
  pom.xml
Labels: documentation, changelog/no-changelog

#1165 Start dev cycle
  pom.xml
Labels: changelog/no-changelog
