Repository DataDog/datadog-api-client-java, pull requests merged in 2022-03, with the labels that each got.

#1217 Fix telemetry regex
  src/test/java/com/datadog/api/v1/client/api/TelemetryTest.java
  src/test/java/com/datadog/api/v2/client/api/TelemetryTest.java
Labels: changelog/no-changelog

#1223 Use standalone binary for `datadog-ci`
  .github/workflows/test_integration.yml
Labels: changelog/no-changelog, ci/integrations

#1226 Change path for `datadog-ci` standalone binary
  .github/workflows/test_integration.yml
Labels: changelog/no-changelog, ci/integrations

#1207 Parse URI manually
  .generator/templates/libraries/jersey2/ApiClient.mustache
  src/main/java/com/datadog/api/v1/client/ApiClient.java
  src/main/java/com/datadog/api/v2/client/ApiClient.java
Labels: changelog/Fixed
