Repository DataDog/datadog-api-client-java, pull requests merged in 2022-02, with the labels that each got.

#1172 Cleanup container on exit
  format.sh
Labels: changelog/no-changelog

#1171 Add async support
  .generator/templates/libraries/jersey2/ApiClient.mustache
  .generator/templates/libraries/jersey2/api.mustache
  README.md
  src/main/java/com/datadog/api/v1/client/ApiClient.java
  src/main/java/com/datadog/api/v1/client/api/AuthenticationApi.java
  src/main/java/com/datadog/api/v1/client/api/AwsIntegrationApi.java
  src/main/java/com/datadog/api/v1/client/api/AwsLogsIntegrationApi.java
  src/main/java/com/datadog/api/v1/client/api/AzureIntegrationApi.java
  src/main/java/com/datadog/api/v1/client/api/DashboardListsApi.java
  src/main/java/com/datadog/api/v1/client/api/DashboardsApi.java
  src/main/java/com/datadog/api/v1/client/api/DowntimesApi.java
  src/main/java/com/datadog/api/v1/client/api/EventsApi.java
  src/main/java/com/datadog/api/v1/client/api/GcpIntegrationApi.java
  src/main/java/com/datadog/api/v1/client/api/HostsApi.java
  src/main/java/com/datadog/api/v1/client/api/IpRangesApi.java
  src/main/java/com/datadog/api/v1/client/api/KeyManagementApi.java
  src/main/java/com/datadog/api/v1/client/api/LogsApi.java
  src/main/java/com/datadog/api/v1/client/api/LogsIndexesApi.java
  src/main/java/com/datadog/api/v1/client/api/LogsPipelinesApi.java
  src/main/java/com/datadog/api/v1/client/api/MetricsApi.java
  src/main/java/com/datadog/api/v1/client/api/MonitorsApi.java
  src/main/java/com/datadog/api/v1/client/api/NotebooksApi.java
  src/main/java/com/datadog/api/v1/client/api/OrganizationsApi.java
  src/main/java/com/datadog/api/v1/client/api/PagerDutyIntegrationApi.java
  src/main/java/com/datadog/api/v1/client/api/ServiceChecksApi.java
  src/main/java/com/datadog/api/v1/client/api/ServiceLevelObjectiveCorrectionsApi.java
  src/main/java/com/datadog/api/v1/client/api/ServiceLevelObjectivesApi.java
  src/main/java/com/datadog/api/v1/client/api/SlackIntegrationApi.java
  src/main/java/com/datadog/api/v1/client/api/SnapshotsApi.java
  src/main/java/com/datadog/api/v1/client/api/SyntheticsApi.java
  src/main/java/com/datadog/api/v1/client/api/TagsApi.java
  src/main/java/com/datadog/api/v1/client/api/UsageMeteringApi.java
  src/main/java/com/datadog/api/v1/client/api/UsersApi.java
  src/main/java/com/datadog/api/v1/client/api/WebhooksIntegrationApi.java
  src/main/java/com/datadog/api/v2/client/ApiClient.java
  src/main/java/com/datadog/api/v2/client/api/CloudWorkloadSecurityApi.java
  src/main/java/com/datadog/api/v2/client/api/DashboardListsApi.java
  src/main/java/com/datadog/api/v2/client/api/IncidentServicesApi.java
  src/main/java/com/datadog/api/v2/client/api/IncidentTeamsApi.java
  src/main/java/com/datadog/api/v2/client/api/IncidentsApi.java
  src/main/java/com/datadog/api/v2/client/api/KeyManagementApi.java
  src/main/java/com/datadog/api/v2/client/api/LogsApi.java
  src/main/java/com/datadog/api/v2/client/api/LogsArchivesApi.java
  src/main/java/com/datadog/api/v2/client/api/LogsMetricsApi.java
  src/main/java/com/datadog/api/v2/client/api/MetricsApi.java
  src/main/java/com/datadog/api/v2/client/api/ProcessesApi.java
  src/main/java/com/datadog/api/v2/client/api/RolesApi.java
  src/main/java/com/datadog/api/v2/client/api/SecurityMonitoringApi.java
  src/main/java/com/datadog/api/v2/client/api/ServiceAccountsApi.java
  src/main/java/com/datadog/api/v2/client/api/UsersApi.java
  src/test/java/com/datadog/api/v1/client/api/DashboardsApiTest.java
  src/test/java/com/datadog/api/v1/client/api/V1ApiTest.java
  src/test/java/com/datadog/api/v2/client/api/V2APITest.java
  src/test/resources/cassettes/v1/DashboardsApiTest.getAllDashboardAsyncTest.freeze
  src/test/resources/cassettes/v1/DashboardsApiTest.getAllDashboardAsyncTest.json
Labels: documentation, changelog/Added, ci/integrations

#1195 Automatize release process
  .github/release.yml
  .github/workflows/prepare_release.yml
  .github/workflows/release.yml
  RELEASING.md
Labels: documentation, changelog/no-changelog

#1198 Do not use v prefix in prepare release workflow
  .github/workflows/prepare_release.yml
  .github/workflows/release.yml
  RELEASING.md
Labels: documentation, changelog/no-changelog

#1203 Minor release tweak
  .github/workflows/prepare_release.yml
Labels: changelog/no-changelog

#1208 Don't do git add in Make
  .gitignore
  Makefile
Labels: changelog/no-changelog
