Repository DataDog/datadog-api-client-java, pull requests merged in 2022-06, with the labels that each got.

#1355 Fix javadoc
  .generator/src/generator/formatter.py
  .generator/src/generator/templates/Api.j2
  .generator/src/generator/templates/ApiClient.j2
  .generator/src/generator/templates/JSON.j2
  .generator/src/generator/templates/auth/Authentication.j2
  .generator/src/generator/templates/modelSimple.j2
  src/main/java/com/datadog/api/v1/client/ApiClient.java
  src/main/java/com/datadog/api/v1/client/JSON.java
  src/main/java/com/datadog/api/v1/client/api/DashboardsApi.java
  src/main/java/com/datadog/api/v1/client/api/DowntimesApi.java
  src/main/java/com/datadog/api/v1/client/api/LogsPipelinesApi.java
  src/main/java/com/datadog/api/v1/client/api/MonitorsApi.java
  src/main/java/com/datadog/api/v1/client/api/NotebooksApi.java
  src/main/java/com/datadog/api/v1/client/api/PagerDutyIntegrationApi.java
  src/main/java/com/datadog/api/v1/client/api/ServiceLevelObjectiveCorrectionsApi.java
  src/main/java/com/datadog/api/v1/client/api/SlackIntegrationApi.java
  src/main/java/com/datadog/api/v1/client/api/SyntheticsApi.java
  src/main/java/com/datadog/api/v1/client/api/TagsApi.java
  src/main/java/com/datadog/api/v1/client/api/WebhooksIntegrationApi.java
  src/main/java/com/datadog/api/v1/client/auth/Authentication.java
  src/main/java/com/datadog/api/v1/client/model/HTTPLogItem.java
  src/main/java/com/datadog/api/v2/client/ApiClient.java
  src/main/java/com/datadog/api/v2/client/JSON.java
  src/main/java/com/datadog/api/v2/client/api/AuthNMappingsApi.java
  src/main/java/com/datadog/api/v2/client/api/CloudWorkloadSecurityApi.java
  src/main/java/com/datadog/api/v2/client/api/IncidentServicesApi.java
  src/main/java/com/datadog/api/v2/client/api/IncidentTeamsApi.java
  src/main/java/com/datadog/api/v2/client/api/IncidentsApi.java
  src/main/java/com/datadog/api/v2/client/api/KeyManagementApi.java
  src/main/java/com/datadog/api/v2/client/api/LogsArchivesApi.java
  src/main/java/com/datadog/api/v2/client/api/LogsMetricsApi.java
  src/main/java/com/datadog/api/v2/client/api/MetricsApi.java
  src/main/java/com/datadog/api/v2/client/api/OrganizationsApi.java
  src/main/java/com/datadog/api/v2/client/api/RolesApi.java
  src/main/java/com/datadog/api/v2/client/api/SecurityMonitoringApi.java
  src/main/java/com/datadog/api/v2/client/api/ServiceAccountsApi.java
  src/main/java/com/datadog/api/v2/client/api/UsersApi.java
  src/main/java/com/datadog/api/v2/client/auth/Authentication.java
  src/main/java/com/datadog/api/v2/client/model/HTTPLogItem.java
Labels: changelog/Fixed

#1363 Test build javadoc
  .generator/src/generator/templates/Api.j2
  .github/workflows/test.yml
  src/main/java/com/datadog/api/v2/client/api/AuditApi.java
  src/main/java/com/datadog/api/v2/client/api/IncidentsApi.java
  src/main/java/com/datadog/api/v2/client/api/LogsApi.java
  src/main/java/com/datadog/api/v2/client/api/ProcessesApi.java
  src/main/java/com/datadog/api/v2/client/api/RumApi.java
  src/main/java/com/datadog/api/v2/client/api/SecurityMonitoringApi.java
Labels: changelog/no-changelog

#1378 Fix javadoc reporting
  .github/workflows/test.yml
Labels: changelog/no-changelog

#1390 Fix dashboard integration tests
  src/test/java/com/datadog/api/v1/client/api/DashboardsApiTest.java
  src/test/resources/cassettes/v1/DashboardsApiTest.dashboardDeleteErrorsTest.json
  src/test/resources/cassettes/v1/DashboardsApiTest.dashboardUpdateErrorsTest.json
Labels: changelog/no-changelog

#1393 Use custom HTTP client for cassettes
  LICENSE-3rdparty.csv
  pom.xml
  src/test/java/com/datadog/api/RecorderSteps.java
  src/test/java/com/datadog/api/TestClient.java
  src/test/java/com/datadog/api/TestUtils.java
  src/test/java/com/datadog/api/World.java
  src/test/java/com/datadog/api/v1/client/api/DashboardsApiTest.java
  src/test/java/com/datadog/api/v1/client/api/UsageMeteringApiTest.java
  src/test/java/com/datadog/api/v1/client/api/V1ApiTest.java
  src/test/java/com/datadog/api/v2/client/api/DashboardListsApiTest.java
  src/test/java/com/datadog/api/v2/client/api/V2APITest.java
Labels: changelog/no-changelog, ci/integrations

#1381 Use java-action for tests
  .github/workflows/approved_status.yml
  .github/workflows/prepare_release.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Labels: changelog/no-changelog
