Repository DataDog/datadog-api-client-java, pull requests merged in 2023-07, with the labels that each got.

#1886 Update generator dependencies
  .generator/poetry.lock
  .generator/pyproject.toml
Labels: changelog/no-changelog

#1901 Handle {} and bool value for `additionalProperties`
  .generator/src/generator/templates/modelSimple.j2
  src/main/java/com/datadog/api/client/v2/model/DetailedFindingAttributes.java
  src/main/java/com/datadog/api/client/v2/model/DowntimeMonitorIdentifierId.java
  src/main/java/com/datadog/api/client/v2/model/DowntimeMonitorIdentifierTags.java
  src/main/java/com/datadog/api/client/v2/model/DowntimeScheduleOneTimeCreateUpdateRequest.java
  src/main/java/com/datadog/api/client/v2/model/DowntimeScheduleRecurrenceCreateUpdateRequest.java
  src/main/java/com/datadog/api/client/v2/model/FindingAttributes.java
  src/main/java/com/datadog/api/client/v2/model/ListFindingsMeta.java
  src/main/java/com/datadog/api/client/v2/model/ListFindingsResponse.java
  src/main/java/com/datadog/api/client/v2/model/MuteFindingRequestAttributes.java
  src/main/java/com/datadog/api/client/v2/model/MuteFindingRequestData.java
  src/main/java/com/datadog/api/client/v2/model/MuteFindingResponseAttributes.java
Labels: changelog/Fixed

#1910 Fix handling of `additionalProperties` only containers
  .generator/src/generator/templates/modelSimple.j2
Labels: changelog/Fixed

#1909 Fix trace reporting for regular tests
  .github/workflows/test_integration.yml
  pom.xml
  src/test/java/com/datadog/api/TestUtils.java
Labels: changelog/no-changelog, ci/integrations

#1914 Remove invalid warning in example generator
  .generator/src/generator/formatter.py
Labels: changelog/no-changelog
