Repository DataDog/datadog-api-client-java, pull requests merged in 2023-10, with the labels that each got.

#1982 Enable request retry in BDD tests
  src/test/java/com/datadog/api/World.java
Labels: changelog/no-changelog

#2020 Fix `LICENSE-3rdparty.csv` file formatting
  LICENSE-3rdparty.csv
Labels: changelog/no-changelog

#2031 Catch all exceptions in ResponseHasItemWithField step definition
  src/test/java/com/datadog/api/ClientSteps.java
Labels: changelog/no-changelog, ci/integrations

#2046 Add UUID format support
  .generator/src/generator/formatter.py
  .generator/src/generator/templates/Api.j2
  .generator/src/generator/templates/example.j2
  .generator/src/generator/templates/model.j2
Labels: changelog/Added
