Repository DataDog/datadog-api-client-java, pull requests merged in 2024-02, with the labels that each got.

#2174 Use openjdk8 from ddbuild mirror for releasing
  .gitlab-ci.yml
Labels: changelog/no-changelog

#2175 Revert "Release 2.21.0 (#2172)"
  CHANGELOG.md
  pom.xml
Labels: documentation, changelog/no-changelog

#2178 Revert Release
  .gitlab-ci.yml
  CHANGELOG.md
  pom.xml
Labels: documentation, changelog/no-changelog

#2186 Relocate additional packages and remove duplicate patterns
  pom.xml
Labels: changelog/Fixed

#2195 Exclude additional files from shaded jar
  pom.xml
Labels: changelog/Added

#2202 Change user tests
  src/test/java/com/datadog/api/client/v1/api/UsersApiTest.java
  src/test/java/com/datadog/api/client/v1/api/V1ApiTest.java
Labels: changelog/no-changelog

#2144 Setup static analysis
  .github/workflows/static-analysis.datadog.yml
  static-analysis.datadog.yml
Labels: changelog/no-changelog, stale
