Repository DataDog/datadog-api-client-java, pull requests merged in 2024-07, with the labels that each got.

#2347 Revert "Release 2.26.0 (#2345)"
  CHANGELOG.md
  pom.xml
Labels: documentation, changelog/no-changelog

#2357 Allow extensions in the paths section.
  .generator/src/generator/openapi.py
Labels: changelog/no-changelog

#2358 Fix test to allow x-merge-override.
  .generator/conftest.py
Labels: changelog/no-changelog

#2364 Fix Azure integration update test
  src/test/java/com/datadog/api/client/v1/api/AzureIntegrationApiTest.java
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.createAzureIntegrationErrorsTest.json
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.createAzureIntegrationTest.json
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.deleteAzureIntegrationErrorsTest.json
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.list400AzureIntegrationErrorTest.json
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.list403AzureIntegrationErrorTest.json
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.listAnddeleteAzureIntegrationTest.json
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.updateAzureIntegrationErrorsTest.json
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.updateAzureIntegrationTest.json
  src/test/resources/cassettes/v1/AzureIntegrationApiTest.updateHostFiltersAzureIntegrationErrorsTest.json
Labels: changelog/no-changelog

#2376 updates explicit x-merge-overrides handling to handle generic extensions
  .generator/conftest.py
  .generator/src/generator/openapi.py
Labels: changelog/no-changelog

#2390 Default to String when we don't understand the format.
  .generator/src/generator/formatter.py
Labels: changelog/no-changelog

#2392 Fall back to the schema type if the format type is unrecognized.
  .generator/src/generator/formatter.py
Labels: changelog/Removed
